*build.force
*/bin
*/obj
*.VisualState*
*TestResult*
*RuntimeProfile*
*FileListAbsolute*
*ContentPipeline-*
*Ninject.dll
*Ninject.xml
*log4net.dll
*log4net.xml
*WindowsGame.common.dll
*ContentPipeline.xml

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
